@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.ct-container {
  @apply mx-auto w-full max-w-[1600px] px-4 13inch:w-[1240px] 13inch:px-0;
}

html *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}
html *::-webkit-scrollbar-thumb:hover {
  background-color: #4e4e4e;
}

html *::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  @apply text-base-black-1;
}
